* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     transition: all 0.3s ease;
 }

 #title {
     font-family: "Oxanium", sans-serif;
     font-weight:600;
     font-size: 2em;
     margin: -25px 0 0 0;
 }
  #profile-area {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
         url('../img/corn plants.jpg');
     background-size: cover;
    border-radius: 0 0 200px 200px  / 0 0 70px 70px ;
 }
 .toggle-eye {
     position: absolute;
     right: 10px;
     top: 50%;
     transform: translateY(-50%);
     cursor: pointer;
     font-size: 13px;
 }

 .input-wrapper {
     position: relative;
 }

 .input-error {
     border: 2px solid red !important;
 }
